.header {
  padding-top: 5px;
  padding-bottom: 5px;
  background: $gray;

  @include tablets {
    padding-top: 32px;
    padding-bottom: 32px;
  }


  &__logo {
    display: block;
    text-align: center;

    @include tablets {
      text-align: left;
    }

    img {
      width: 91px;

      @include tablets {
        width: 114px;
      }
    }
  }
}

.banner {
  padding-top: 10px;
  padding-bottom: 38px;
  background: $gray;

  @include tablets {
    padding-bottom: 0;
  }

  @include laptop {
    padding-top: 28px;
  }
}

.banner-content {
  @include flex(flex, column);

  @include tablets {
    @include flex(flex, row, space-between);
  }
}

.banner-info {
  @include laptop {
    padding-top: 20px;
    max-width: 585px;
  }

  &__title {
    max-width: 200px;
    margin: 0 auto 9px auto;
    @include font(20px, 800, 28px, 0.3px);
    text-align: center;
    color: $black;

    @include tablets {
      max-width: none;
      margin-bottom: 17px;
      @include font(36px, 800, 48px, 0.7px);
      text-align: left;
    }

    @include laptop {
      @include font(48px, 800, 64px, 0.7px);
    }
  }

  &__frame {
    padding: 4px 8px;
    width: 93px;
    margin: 0 auto 8px auto;
    background-color: $lightBlue;
    border-radius: 4px;
    @include font(14px, 800, 24px);
  }

  &__text {
    margin-bottom: 8px;
    @include font(14px, 800, 20px, 0.2px);

    @include tablets {
      margin-bottom: 27px;
      @include font(20px, 800, 28px, 0.25px);
    }
  }

  &__list {
    margin-bottom: 22px;

    @include tablets {
      margin-bottom: 40px;
    }

    li {
      @include flex(flex);
      margin-bottom: 12px;

      @include tablets {
        margin-bottom: 15px;
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;

        @include tablets {
          margin-right: 10px;
          width: auto;
          height: auto;
        }
      }
    }
  }

  &__btn {
    display: block;
    width: 169px;
    margin: 0 auto 17px auto;

    @include tablets {
      margin: 0 0 30px;
    }
  }
}

.banner-image {
  width: 100%;
  @include flex(flex, row, center);
  background-color: $white;

  @include tablets {
    @include flex(flex, row, flex-end);
    align-self: flex-end;
    background-color: transparent;
  }

  img {
    width: 128px;

    @include tablets {
      width: 100%;
    }

    @include laptop {
      width: auto;
    }
  }
}

.stem {
  padding-top: 24px;
  padding-bottom: 32px;
  background-color: $white;

  @include tablets {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @include laptop {
    padding-top: 80px;
    padding-bottom: 110px;
  }
}

.stem-logo {
  margin-bottom: 3px;

  @include tablets {
    margin-bottom: 18px;
  }

  img {
    width: 64px;

    @include tablets {
      width: auto;
    }
  }
}

.stem-info {
  @include flex(flex, column);

  @include tablets {
    flex-direction: row;
  }

  &__text {
    margin-bottom: 45px;
    @include font(14px, 800, 20px, 0.15px);

    @include tablets {
      max-width: 690px;
      margin-right: 40px;
      margin-bottom: 0;
      @include font(20px, 800, 28px, 0.3px);
    }

    @include laptop {
      @include font(24px, 800, 40px, 0.3px);
    }
  }
}

.stem-date {
  display: grid;
  row-gap: 17px;
  width: 100%;

  @include tablets {
    max-width: 392px;
    row-gap: 23px;
  }

  &__title {
    margin-bottom: 3px;
  }

  &__progress {
    padding: 7px;
    text-align: right;

    @include tablets {
      padding: 5px;
    }

    &:first-child {
      margin-bottom: 24px;
    }

    &--green {
      width: 100%;
      color: $white;
      background: $green;
    }

    &--yellow {
      width: 54.5%;
      background: $yellow;
    }

    span {
      @include font(12px);
    }
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 35px;
  background-color: $gray;

  @include tablets {
    padding-top: 40px;
  }

  @include laptop {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.about-content {
  @include flex(flex, column);

  @include tablets {
    flex-direction: row;
    max-width: 1058px;
  }
}

.about-info {
  margin-bottom: 8px;

  @include tablets {
    margin-right: 26px;
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 8px;
    @include font(14px, 800, 20px, 0.15px);

    @include tablets {
      max-width: 690px;
      margin-bottom: 25px;
      @include font(24px, 800, 36px, 0.3px);
    }

    @include laptop {
      @include font(32px, 800, 48px, 0.3px);
    }
  }

  p {
    margin-bottom: 16px;

    @include tablets {
      margin-bottom: 24px;
    }
  }
}

.about-form {
  padding: 16px 15px;
  border: 1px solid $lightBlue;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.02), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 100%;

  @include tablets {
    width: 288px;
    min-width: 288px;
  }


  &__title {
    text-align: center;
    margin-bottom: 14px;
    @include font(20px, 800, 28px, 0.2px);

    @include tablets {
      margin-bottom: 17px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: 0 auto 8px;
    border-radius: 8px;

    @include tablets {
      margin-bottom: 15px;
    }
  }
}

.report {
  padding-top: 45px;
  padding-bottom: 80px;
  background-color: $gray;

  @include tablets {
    padding-top: 45px;
    padding-bottom: 63px;
  }

  .btn.mobile {
    margin: 0 auto;
  }
}

.report-content {
  @extend .banner-content;

  @include tablets {
    max-width: 1280px;
  }
}

.report-info {
  @include tablets {
    width: 50%;
    padding-top: 11px;
  }

  @include desktop {
    width: auto;
    min-width: 490px;
    margin-left: 9%;
  }

  &__title {
    margin-bottom: 12px;
    @include font(20px, 800, 28px, 0.25px);

    @include tablets {
      margin-bottom: 16px;
      @include font(24px, 800, 36px, 0.5px);
    }

    @include laptop {
      @include font(32px, 800, 48px, 0.5px);
    }
  }

  &__list {
    counter-reset: counter;

    @include tablets {
      margin-bottom: 48px;
    }

    li {
      display: flex;
      @include font(14px, 800, 24px, 0.1px);
      counter-increment: counter;

      @include tablets {
        margin-bottom: 8px;
        @include font(16px, 800, 24px, 0.1px);
      }

      &:before {
        content: counter(counter) ". ";
        margin-right: 7px;

        @include tablets {
          margin-right: 12px;
        }
      }
    }
  }
}

.report-slider {
  width: 100%;
  padding-bottom: 35px;
  margin-bottom: 12px;

  @include tablets {
    width: 50%;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;
    margin-right: 0;
  }

  @include desktop {
    width: 660px;
    padding-left: 0;
  }


  .swiper-slide {
    @include desktop {
      width: 552px;
    }

    img {
      width: 100%;
    }
  }
}

.better {
  padding-top: 25px;
  padding-bottom: 32px;
  background-color: $white;

  @include tablets {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  @include laptop {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}

.better-content {
  text-align: center;

  @include tablets {
    max-width: 634px;
    text-align: left;
  }

  &__text {
    margin-bottom: 16px;
    @include font(14px, 800, 20px, 0.2px);

    @include tablets {
      margin-bottom: 30px;
      @include font(20px, 800, 28px, 0.2px);
    }

    @include laptop {
      @include font(24px, 800, 40px, 0.2px);
    }

    br {
      display: none;

      @include tablets {
        display: inline;
      }
    }
  }
}

.feedback {
  padding-top: 80px;
  padding-bottom: 66px;
  background-color: $gray;

  @include tablets {
    padding-bottom: 42px;
  }

  &__title {
    margin-bottom: 17px;
    @include font(16px, 800, 24px, 0.25px);
    text-align: center;

    @include tablets {
      max-width: 600px;
      margin: 0 auto 40px auto;
      @include font(36px, 800, 48px, 0.7px);
      text-align: left;
    }

    @include laptop {
      @include font(48px, 800, 64px, 0.5px);
    }
  }

  &__items {
    padding-bottom: 30px;
  }

  &__items-inner {
    @include tablets {
      display: block;
      column-gap: 16px;
      column-count: 3;
    }

    @include laptop {
      column-gap: 24px;
    }
  }

  &__item {
    margin-bottom: 16px;

    @include tablets {
      margin-bottom: 24px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $gray;
    border: 2px solid $black;
    border-radius: 100%;

    &.swiper-pagination-bullet-active {
      width: 12px;
      background-color: $black;
    }
  }
}

.featured {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $white;

  @include tablets {
    padding-top: 55px;
    padding-bottom: 57px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
    @include font(16px, 800, 24px);

    @include tablets {
      margin-bottom: 30px;
      @include font(36px, 800, 48px, 0.7px);
    }

    @include laptop {
      @include font(48px, 800, 64px);
    }
  }

  &__items {
    @include flex(flex, row, center, center);
    flex-wrap: wrap;

    @include tablets {
      @include flex(flex, row, space-between, center);
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: calc(100% / 3);
    text-align: center;

    &:nth-child(2) {
      width: 50%;

      @include tablets {
        width: auto;
      }
    }

    @include tablets {
      width: auto;
      padding: 0 15px;
    }

    img {
      width: 81%;

      @include tablets {
        width: 100%;
      }

      @include laptop {
        width: auto;
      }
    }

    &:first-child {
      img {
        width: 35px;

        @include tablets {
          width: auto;
        }
      }
    }
  }
}

.featured-content {
  @include tablets {
    max-width: 880px;
  }
}

.footer {
  padding-top: 40px;
  background-color: $darkBlue;

  @include tablets {
    padding-top: 35px;
  }

  &__image {
    align-self: flex-end;
    width: 50%;

    @include phones {
      width: auto;
    }

    &:last-child {
      width: 55%;
      margin-left: -5%;

      @include phones {
        margin-right: -8px;
        margin-left: 0;
        width: auto;
      }
    }
  }
}

.footer-content {
  @include flex(flex, row, space-between);
  flex-wrap: wrap;

  @include laptop {
    max-width: 1330px;
    flex-wrap: nowrap;
  }
}

.footer-info {
  order: -1;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;

  @include phones {
    margin-bottom: -50px;
  }

  @include laptop {
    order: 0;
    width: auto;
    margin-bottom: 25px;
    margin-top: 45px;
  }

  &__text {
    margin-bottom: 40px;
    @include font(16px, 800, 24px, 0.15px);
    color: $white;

    @include tablets {
      @include font(24px, 800, 36px, 0.5px);
    }

    @include laptop {
      @include font(32px, 800, 48px, 0.35px);
    }

    br {
      display: none;

      @include tablets {
        display: inline;
      }
    }
  }
}