/* colors */
$gray: #faf8f6;
$lightBlue: #d0dbf1;
$black: #0d2a54;
$darkBlue: #2b41b7;
$red: #ef4444;
$darkRed: #dc2626;
$lightRed: #f87171;
$white: #fff;
$green: #06a66c;
$yellow: #ff9900;


/* fonts */
$montserrat: 'Montserrat';